#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{% if mysql_replication_conf_vars is defined and mysql_replication_conf_vars|length > 0 %}
{% for block in mysql_replication_conf_vars %}
{% if block['name'] is defined %}
[{{block['name']}}]
{% endif %}
{% for k,v in block.items() %}
{% if k == 'vars' %}
{% for confitem in v %}
{% for key,val in confitem.items() %}
{{key|upper}} = {{val}}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}